@font-face {
  font-family:'Patua One';
  font-style:normal;
  font-weight:400;
  src:local('Patua One'), local('PatuaOne-Regular'), url("/fonts/patua-one.woff") format('woff');
}

@media print {
  section, article {
    background-color: #fff !important;
  }
}

body, article {
  font-family: 'Patua One', sans;
  background-color: #fafafa;
}

.bespoke-slide {
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;

  aside {
      display: none;
  }

  transition-duration: 0.3s;
}

.todo:before {
  content: "TODO: "
  color: #f00;
  font-style: italic;
  font-weight: bolder;
}

.title {
  text-align: left;
  font-weight: normal;
  font-family: 'Patua One', serif;
  margin-bottom: 40px;
}

h2.full-slide {
  font-size: 90pt;
  font-weight: normal;
  line-height: 98%;
}

h2.fullish-slide {
  @extend h2.full-slide
  font-size: 73pt;
}

h3 {
  padding-top: 15px;
  opacity: 0.6;
}

ul {
  margin: 10px 0;
  text-align: left;
}

address {
  font-family: 'Patua One', serif;
  margin: 0 auto;
  text-align: right;
  width: 600px;
  font-style: normal;
  line-height: 150%

  .bio {
    color: rgba(64, 64, 64, 0.7);
  }
  
  .author {
    font-size: 120%;
  }

  .author, a {
    font-weight: bolder;
  }

  .org {
    color: #6ea0b0;

    .i {
      color: #00548e;
    }
  }

  a {
    color: inherit;
    &:hover {
      font-style: underline;
    }
  }

  ul {
    width: 600px;
    position: relative;
    margin: 0;

    list-style: none;

    li {
      float: left;
      text-align: center;
      width: 33.3%;

      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.logo-big {
  width: 360px;
  height: 83px;
}

pre {
  padding: 26px 20px;
  font-size: 16px;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  > * {
    min-width: initial;
    width: initial;
    margin: 0.5em 0.4em !important;
    padding: 20px 4px;
    font-size: 70%;
  }
}

.stack {
  &.corner {
    position: absolute;
    bottom: 15px;
    left: 25px;
    line-height: 94%;
  }

  font-size: 1.1em;
  font-weight: bolder;

  li {
    padding: 0;
    margin: 0;
  }

  .lowlight {
    opacity: 0.6;
  }
}

.highlight {
  font-weight: bolder;
  color: #c13038;
}

.topic-slide {
  background-color: #f3b840;
}

.solution-slide {
  background-color: #c13038;
}

*[data-bespoke-state='solution-slide'] {
  &, * {
    color: #fafafa;
  }
}

.in-place-transition {
  .bespoke-bullet-inactive {
    opacity: 0;
    display: none;
    li & {
      transform: translateX(0);
    }
  }

  .bespoke-bullet-active {
    opacity: 0;
    display: none;
  }

  .bespoke-bullet-current,
  // Keep the first bullet/last bullet visible, to make transitions smooth
  .bespoke-bullet-active:last-of-type,
  .bespoke-bullet-inactive:first-of-type {
    opacity: 1;
    display: inherit;
  }
}

.conclusions {
  color: #c13038;
  opacity: 1;
}