doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Your Web Stack Would Betray You In An Instant

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/defaults.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1.title Your Web Stack Would Betray You In An Instant
        address.vcard
          div.author.fn Tim Perry
          div.note.bio
            span Tech Lead &amp; Open-Source Champion at 
            span.org.vcard
              a.org.fn.url(href='http://softwire.com',rel="group") Softwire
          ul.urls
            li
              a.url(href='http://tim-perry.co.uk',rel="me") tim-perry.co.uk
            li
              a.nickname.url(href='http://twitter.com/pimterry',rel="me") @pimterry
            li
              a.url(href='http://github.com/pimterry',rel="me") github.com/pimterry
        aside
          ul
            li Tim Perry
            li Softwire. London. Bespoke dev on a huge variety of projects
            li Softwire are hiring!

      section
        h2 Security

      section
        h2 Your Application

        ul.stack
          li Your Code
          li Web Framework
          li Programming Language
          li Web Server
          li Database
          li Network Transport

      section
        h2 Easily Vulnerable Things

        ul.stack
          li.lowlight Your Code
          li Web Framework
          li Programming Language
          li Web Server
          li Database
          li Network Transport

      section
        h2 Ruby on Rails

        ul.stack.corner
          li.lowlight Your Code
          li Web Framework
          li.lowlight Programming Language
          li.lowlight Web Server
          li.lowlight Database
          li.lowlight Network Transport

      section
        h2 YAML

        pre
          code.language-javascript.
            ---
            name: "Tim Perry"
            company: "Softwire"
            speaking: Yes
            ears:
             - "Left"
             - "Right"
      section
        h2 YAML

        pre
          code.language-javascript.
            --- !ruby/hash:User
            name: "Tim Perry"
            company: "Softwire"
            speaking: Yes
            arms:
             - "Left"
             - "Right"
      section
        h2 YAML
        pre
          code.language-javascript.
            user = User.allocate
            values.each_pair { |key,val|
                user[key] = val
            }
      section
        h2 NamedRouteCollection
        pre
          code.language-javascript.
            alias []= add

            def add(name, route)
              ...
              @module.module_eval("remove_possible_method :\#{name}; ...")
              ...
            end
      section
        h2 Arbitrary Code Execution with YAML
        pre
          code.language-javascript.
            --- !ruby/hash:ActionDispatch::Routing::RouteSet::NamedRouteCollection
            “ignored; puts 'Hello World';”: 
                !ruby/object:OpenStruct { ‘table’:{‘defaults’:{}} }
      section
        h2 Uh oh


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
