@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url("/Your-Web-Stack-Would-Betray-You-In-An-Instant/fonts/patua-one.woff") format('woff');
}
@media print {
  section,
  article {
    background-color: #fff !important;
  }
}
body {
  font-family: 'Patua One', sans;
  background-color: #fafafa;
}
.bespoke-slide {
  background-color: rgba(255,255,255,0);
  padding: 20px;
}
.bespoke-slide aside {
  display: none;
}
.todo:before {
  content: "TODO: ";
  color: #f00;
  font-style: italic;
  font-weight: bolder;
}
.title {
  text-align: left;
  font-weight: normal;
  font-family: 'Patua One', serif;
  margin-bottom: 40px;
}
h2.full-slide,
h2.fullish-slide {
  font-size: 90pt;
  font-weight: normal;
  line-height: 98%;
}
h2.fullish-slide {
  font-size: 73pt;
}
h3 {
  padding-top: 15px;
  opacity: 0.6;
}
ul {
  margin: 10px 0;
  text-align: left;
}
address {
  font-family: 'Patua One', serif;
  margin: 0 auto;
  text-align: right;
  width: 600px;
  font-style: normal;
  line-height: 150%;
}
address .bio {
  color: rgba(64,64,64,0.7);
}
address .author {
  font-size: 120%;
}
address .author,
address a {
  font-weight: bolder;
}
address .org {
  color: #6ea0b0;
}
address .org .i {
  color: #00548e;
}
address a {
  color: inherit;
}
address a:hover {
  font-style: underline;
}
address ul {
  width: 600px;
  position: relative;
  margin: 0;
  list-style: none;
}
address ul li {
  float: left;
  text-align: center;
  width: 33.3%;
}
address ul li:first-child {
  text-align: left;
}
address ul li:last-child {
  text-align: right;
}
.logo-big {
  width: 60%;
}
pre {
  padding: 26px 20px !important;
  font-size: 16px;
}
.sideBySide {
  flex-direction: row;
  width: 100%;
}
.sideBySide pre {
  width: 48%;
  margin: 0.5em 0.4em;
  padding: 26px 10px;
  font-size: 52%;
  float: left;
  display: inline-block;
}
.stack {
  font-size: 1.1em;
  font-weight: bolder;
}
.stack.corner {
  position: absolute;
  bottom: 15px;
  left: 25px;
  line-height: 94%;
}
.stack li {
  padding: 0;
  margin: 0;
}
.stack .lowlight {
  opacity: 0.6;
}
.highlight {
  font-weight: bolder;
  color: #c13038;
}
.topic-slide {
  background-color: #f3b840;
}
.solution-slide {
  background-color: #c13038;
}
*[data-bespoke-state='solution-slide'],
*[data-bespoke-state='solution-slide'] * {
  color: #fafafa;
}
.in-place-transition .bespoke-bullet-inactive {
  opacity: 0;
  display: none;
}
li .in-place-transition .bespoke-bullet-inactive {
  transform: translateX(0);
}
.in-place-transition .bespoke-bullet-active {
  opacity: 0;
  display: none;
}
.in-place-transition .bespoke-bullet-current,
.in-place-transition .bespoke-bullet-active:last-of-type,
.in-place-transition .bespoke-bullet-inactive:first-of-type {
  opacity: 1;
  display: inherit;
}
